
body {
    background: linear-gradient(-220deg, #333366, #EE3E37, #ADC7D4);
    color: #FFFFFF;
    background-size: 400% 400%;
    animation: subtle-gradient 10s ease infinite;
}

#auth-container .card-body{
    color:#333366;
}

#auth-container .card-footer{
    background-color: inherit;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.auth-btn{
    background-color: #333366;
    color:#FFFFFF;
}

.auth-btn:focus{
    background-color:#ADC7D4;
    color:#FFFFFF;
}