{% extends "base.html" %}
{% load static %}
{% block body_block %}

<link rel="stylesheet" href="{% static 'ps_harvester/css/harvester.css' %}">

<script>
    function show_resolve_btns(eid){
        var resolvebtn = document.getElementById(`resolve-entry_${eid}`)
        var confirm = document.getElementById(`confirm-resolve_${eid}`)
        var cancel = document.getElementById(`cancel-resolve_${eid}`)
        confirm.style.display = "inline"
        cancel.style.display = "inline"
        resolvebtn.style.display = 'none'
    }

    function return_resolve_btn(eid){
        var resolvebtn = document.getElementById(`resolve-entry_${eid}`)
        var confirm = document.getElementById(`confirm-resolve_${eid}`)
        var cancel = document.getElementById(`cancel-resolve_${eid}`)
        confirm.style.display = "none"
        cancel.style.display = "none"
        resolvebtn.style.display = 'inline'
    }
</script>

<h1>Status</h1>

<div class="accordion accordion-flush" id="harvest-process-accordion">

    {% if processes_with_entries %}
    <div class="row p-2">
        <div class="col-2"><h5 class="fw-bold">Process ID</h5></div>
        <div class="col-2"><h5 class="fw-bold">Total Entries</h5></div>
        <div class="col-3"> <h5 class="fw-bold">Created</h5></div>
        <div class="col-3"><h5 class="fw-bold">Modified</h5></div>
        <div class="col-2"><h5 class="fw-bold">Status</h5></div>
    </div>
    {% else %}
    <h4>No current processes.</h4>
    {% endif %}

    {% for p in processes_with_entries %}
    <div class="accordion-item p-0 border-2">
        <div class="accordion-header" style="cursor: pointer;">
            <div class="row">

                <div id="process-note_{{p.process_id}}" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5">Harvest Process Notes</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div id="process-note-text_{{p.process_id}}" class="modal-body">
                                {{p.note}}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn bg-vs-dblue">Edit</button>
                                <button type="button" class="btn bg-vs-red" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="process-error-msg_{{p.process_id}}" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5">Process Error</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div id="error-note-text_{{p.process_id}}" class="modal-body">
                                {{p.note}}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn bg-vs-red" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#harvest-entries_{{ p.process_id }}">
                    <div class="col-2">
                        <button class="underlined-btn text-vs-dblue" data-bs-toggle="modal" data-bs-target="#process-note_{{p.process_id}}">{{p.process_id }}</button>
                    </div>
                    <div class="col-2"><span>{{ p.harvestentryspeech_set.all | length }}</span></div>
                    <div class="col-3"><span>{{ p.created }}</span></div>
                    <div class="col-3"><span>{{ p.modified }}</span></div>
                    <div class="col-2">
                        {% if p.status.status_id == 1 %}
                        <span class="text-success fw-bold">{{ p.status }}</span>
                        {% elif p.status.status_id == 2 %}
                        <span class="text-secondary fw-bold">{{ p.status }}</span>
                        {% elif p.status.status_id == 3 %}
                        <span class="text-vs-dblue fst-italic fw-bold ">{{ p.status }}</span>
                        {% elif p.status.status_id == 4 %}
                        <a class="underlined-btn text-vs-red fw-bold" data-bs-toggle="modal" data-bs-target="#process-error-msg_{{p.process_id}}">{{ p.status }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div id="harvest-entries_{{ p.process_id }}" class="accordion-collapse collapse"  data-bs-parent="#harvest-process-accordion">
            <div class="accordion-body">
                {% if not p.entries_for_review %}
                    <span class="text-vs-dblue">No entries for review.</span>
                {% endif %}
                {% for e in p.entries_for_review %}
                <div class="row p-1">

                    <div id="entry-note_{{e.entry_id}}" class="modal fade" >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" >Harvest Entry Notes</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div id="entry-note-text_{{e.entry_id}}" class="modal-body">
                                    {{e.note}}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn bg-vs-dblue">Edit</button>
                                    <button type="button" class="btn bg-vs-red" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-2">
                        <button class="underlined-btn" data-bs-toggle="modal" data-bs-target="#entry-note_{{e.entry_id}}">{{ e.speech_candidate_id }}</button>
                    </div>
                    <div class="col-xl-8 col-lg-7 col-md-5 col-sm-4 col-xs-2">
                        <a class="vs-link" href="https://admin.votesmart.org/loadCandidateSpeechDetail.do?candidateSpeechId={{ e.speech_candidate_id }}"
                            target="_blank">{{ e.review_message }}</a>
                    </div>
                    
                    <div class="col-1 d-flex justify-content-md-evenly">
                        <button id="resolve-entry_{{e.entry_id}}" onclick="show_resolve_btns('{{e.entry_id}}')" class="btn bg-vs-dblue text-vs-white">Resolve</button>
                        <a id="confirm-resolve_{{e.entry_id}}" type="button" href="{% url 'ps_harvester:resolve_entry' pk=e.entry_id %}">
                            <i class="bi bi-check-circle"></i>
                        </a>
                        <button id="cancel-resolve_{{e.entry_id}}" class="clean-btn" onclick="return_resolve_btn('{{e.entry_id}}')">
                            <i class="bi bi-x-circle"></i>
                        </button>
                    </div>

                    <div class="col-1" style="align-items: end;">
                        <a id="delete-entry" type="button" href="{% url 'ps_harvester:delete_entry' pk=e.entry_id %}" class="btn bg-vs-red text-vs-white">Delete</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>


<div class="d-flex p-4 justify-content-center">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a>
            </li>
        {% else %}
            <li class="page-item disabled"><a class="page-link">Previous</a></li>
        {% endif %}
        

        {% if page_obj.has_next %}
        <li class="page-item">
            <a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a>
        </li>
        {% else %}
            <li class="page-item disabled"><a class="page-link">Next</a></li>
        {% endif %}

    
    </ul>
</div>

{% endblock %}