{% extends "base.html" %}

{% block body_block %}
{# harvester.html #}
<h1>Status</h1>

<div class="accordion" id="harvest-process-accordion">
    {% if processes %}
        <div class="row p-2">
            <div class="col-1 fw-bold">Process ID</div>
            <div class="col-4 fw-bold">Created</div>
            <div class="col-4 fw-bold">Modified</div>
            <div class="col-2 fw-bold">Status</div>
        </div>
    {% else %}
    <h4>No current processes.</h4>
    {% endif %}

    {% for p in processes %}
    <div class="accordion-item p-0 border-2">
        <div class="accordion-header" style="cursor: pointer;">
            <div class="row">
                <button class="accordion-button collapsed" data-bs-toggle="collapse"
                    data-bs-target="#harvest-process_{{ p.process_id }}">
                    <div class="col-1">{{ p.process_id }}</div>
                    <div class="col-4">{{ p.created }}</div>
                    <div class="col-4">{{ p.modified }}</div>
                    <div class="col-2">
                        {% if p.status.status_id == 1 %}
                        <span class="text-success fw-bold">{{ p.status }}</span>
                        {% elif p.status.status_id == 2 %}
                        <span class="text-secondary fw-bold">{{ p.status }}</span>
                        {% elif p.status.status_id == 3 %}
                        <span class="text-warning fw-bold">{{ p.status }}</span>
                        {% elif p.status.status_id == 4 %}
                        <span class="text-danger fw-bold">{{ p.status }}</span>
                        {% endif %}
                    </div>
                </button>
            </div>
        </div>
        <div class="accordion-collapse collapse" id="harvest-process_{{ p.process_id }}"
            data-bs-parent="#harvest-process-accordion">
            <div class="accordion-body">
                {% for e in p.harvestentryspeech_set.all %}
                {% if e.review %}
                <div class="row p-1">
                    <div class="col-1"><a
                            href="https://admin.votesmart.org/loadCandidateSpeechDetail.do?candidateSpeechId={{ e.speech_id }}"
                            target="_blank">{{ e.speech_id }}</a></div>
                    <div class="col"><p class="fst-italic">{{ e.review_message }}</p></div>        
                    <div class="col-1"><button class="btn btn-warning" style="color:white;">Resolve</button></div>
                    <div class="col-1" style="align-items: end;"><button class="btn"
                            style="background-color: #EE3E37; color: white;">Delete</button></div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}