{% extends "base.html" %}
{% load static %}


{% block extra_head %}
<link rel="stylesheet" href="{% static 'ps_harvester/css/processes.css' %}">
<link rel="stylesheet" href="{% static 'ps_harvester/css/modal.css' %}">
{% endblock %}

{% block extra_script %}
<script src="{% static 'ps_harvester/js/processes.js' %}"></script>
<script src="{% static 'ps_harvester/js/modal.js' %}"></script>
{% endblock %}


{% block content_container %}
<h1>Harvest Status</h1>

<div class="accordion mt-4" id="harvest-process-accordion">

    {% if processes_with_entries %}
    <div class="row p-2">
        <div class="col-2"><h5 class="fw-bold">Process ID</h5></div>
        <div class="col-2"><h5 class="fw-bold">Total Entries</h5></div>
        <div class="col-3"><h5 class="fw-bold">Created</h5></div>
        <div class="col-3"><h5 class="fw-bold">Modified</h5></div>
        <div class="col-2"><h5 class="fw-bold">Status</h5></div>
    </div>
    {% else %}
    <h4>No current processes.</h4>
    {% endif %}

    {% for p in processes_with_entries %}
    <div class="accordion-item card-accordion process" data-process-id="{{ p.process_id }}"> 
        <div class="accordion-button collapsed text-vs-dblue"
                data-bs-toggle="collapse"
                data-bs-target=".harvest-entries[data-process-id='{{ p.process_id }}']">
            <!-- Process IDs -->
            <div class="col-2">
                <button class="process-id link-btn" 
                        data-process-id="{{ p.process_id }}"
                        data-url="{% url 'ps_harvester:harvest_process_note' pk=p.process_id %}" 
                        data-bs-toggle="modal" 
                        data-bs-target=".process-notes[data-process-id='{{ p.process_id }}']"
                        >{{p.process_id }}
                </button>
            </div>

            <!-- Total Entries -->
            <div class="col-2">
                <button onclick="window.location.href=`{% url 'ps_harvester:harvest_process' pk=p.process_id %}`" 
                        class="link-btn"
                >{{ p.harvestentryspeech_set.all | length }}
                </button>
            </div>

            <!-- Created & Modified dates -->
            <div class="col-3"><span>{{ p.created }}</span></div>
            <div class="col-3"><span>{{ p.modified }}</span></div>

            <!-- Statuses -->
            <div class="process-status col-2 " data-process-id="{{ p.process_id }}" >
                {% if p.status.status_id == 1 %}
                <span class="complete-status">{{ p.status.status_name }}</span>
                {% elif p.status.status_id == 2 %}
                <span class="invalid-status">{{ p.status.status_name }}</span>
                {% elif p.status.status_id == 3 %}
                <span class="review-status">{{ p.status.status_name }}</span>
                {% elif p.status.status_id == 4 %}
                <a class="error-status" 
                    data-bs-toggle="modal" 
                    data-bs-target=".process-error[data-process-id='{{p.process_id}}']"
                    >{{ p.status.status_name }}</a>
                {% endif %}
            </div>
        </div>
            
            {% include "ps_harvester/process_modal.html" with process=p %}
            
        <div class="harvest-entries accordion-collapse collapse" 
             data-process-id="{{ p.process_id }}" 
             data-bs-parent="#harvest-process-accordion">

            <div class="accordion-body text-vs-dblue">
                {% if not p.entries_for_review %}
                    <span>No entries for review.</span>
                {% endif %}

                {% for e in p.entries_for_review %}

                <div class="harvest-entry row p-1" data-entry-id="{{ e.entry_id }}">
                    
                    <!-- Foreign ID that is being referenced -->
                    <div class="col-2">
                        <button class="speech-entry-id link-btn"
                                data-entry-id="{{ e.entry_id }}"
                                data-bs-toggle="modal" 
                                data-bs-target=".speech-entry-notes[data-entry-id='{{ e.entry_id }}']"
                                >{{ e.speech_candidate_id }}
                        </button>
                    </div>

                    <!-- Message to be reviewed -->
                    <div class="col-xl-8 col-lg-7 col-md-5 col-sm-4 col-xs-2">
                        <a class="link-btn" href="{% url 'ps_pvsadmin:speech_by_candidate' speech_candidate_id=e.speech_candidate_id candidate_id=e.candidate_id %}" target="_blank">{{ e.review_message }}</a>
                    </div>
                    
                    <!-- Resolve Button -->
                    <div class="col-1 resolve-entry d-flex">
                        <button class="btn bg-vs-dblue">Resolve</button>

                        <i class="confirm icon-btn bi bi-check-circle me-2"
                            data-entry-id="{{ e.entry_id }}" 
                            data-process-id="{{ p.process_id }}"
                            data-url="{% url 'ps_harvester:resolve_entry' pk=e.entry_id %}">
                        </i>
                        
                        <i class="cancel icon-btn bi-x-circle ms-3 text-vs-red" 
                            data-entry-id="{{ e.entry_id }}">
                        </i>
                    </div>

                    <!-- Delete Button -->
                    <div class="col-1 delete-entry" style="align-items: end;">
                        <button class="btn bg-vs-red" 
                                data-bs-toggle="modal" 
                                data-bs-target=".delete-entry-modal[data-entry-id='{{ e.entry_id }}']"
                                >Delete
                        </button>
                    </div>

                    <!-- Modal: Entry Notes & Delete Confirmation -->
                    {% include "ps_harvester/entry_modal.html" with entry_id=e.entry_id process_id=p.process_id %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}

</div>


{% if processes_with_entries %}
    <div class="d-flex p-4 justify-content-center">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a href="?page={{ page_obj.previous_page_number }}" class="page-link bg-vs-dblue">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled"><a class="page-link bg-vs-dblue">Previous</a></li>
            {% endif %}

            {% for i in custom_elided_page_range %}
                {% if page_obj.number == i %}
                    <li class="page-item"><span class="page-link bg-vs-dblue">{{ i }}</span></li>

                {% else %}
                    {% if i == page_obj.paginator.ELLIPSIS %}
                        <li class="page-item"><span class="page-link bg-vs-white">{{ i }}</span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link bg-vs-white" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a href="?page={{ page_obj.next_page_number }}" class="page-link bg-vs-dblue">Next</a>
            </li>
            {% else %}
                <li class="page-item disabled"><a class="page-link">Next</a></li>
            {% endif %}
        </ul>
    </div>
{% endif %}
{% endblock %}


