{% extends "base.html" %}
{% load static %}


{% block extra_head %}
<link rel="stylesheet" href="{% static 'ps_harvester/css/process_detail.css' %}">
<link rel="stylesheet" href="{% static 'ps_harvester/css/modal.css' %}">
{% endblock %}

{% block extra_script %}
<script src="{% static 'ps_harvester/js/process_detail.js' %}"></script>
<script src="{% static 'ps_harvester/js/modal.js' %}"></script>
{% endblock %}

{% block content_container %}

<div class="row">
    <div class="col d-flex align-items-center">
        <button class="btn bg-vs-dblue me-3" onclick="window.location.href=`{% url 'ps_harvester:harvester' %}`"
            ><i class="bi bi-arrow-left"></i> Back</button>
        <button 
           class="process-id clean-btn text-vs-dblue"
           data-process-id="{{ harvestprocess.pk }}"
           data-bs-toggle="modal"
           data-bs-target=".process-notes">
            <h2>Harvest Process ({{ harvestprocess.pk }})</h2>
        </button>
    </div>
    <div class="col d-flex justify-content-end">
        <button class="delete-process btn bg-vs-red"
                data-bs-toggle="modal"
                data-bs-target=".delete-process-confirmation"
                >Delete Process
        </button>
    </div>
</div>

{% include "ps_harvester/process_modal.html" with process=harvestprocess %}

<div class="delete-process-confirmation modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-vs-dblue">Delete Process Confirmation</h1>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="form-check form-switch text-vs-dblue">
                    <p>Deleting this process will remove all the entries associated with this process.</p>
                    <p>Each entry made by the harvester will no longer be associated with entries imported into the VoteSmart's database</p>
                    <p>If you wish to also delete all associated entries made to the VoteSmart's database, and to avoid the above, 
                        please toggle the button below.</p>
                    <label class="form-check-label" for="pvsdb-delete">Delete entries in VoteSmart's database</label>
                    <input class="form-check-input pvsdb-delete" type="checkbox" role="switch">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" 
                        class="confirm-delete-process btn bg-vs-red"
                        data-url="{% url 'ps_harvester:delete_process' pk=harvestprocess.pk %}"
                        data-process-id="{{ harvestprocess.pk }}"
                        data-bs-dismiss="modal">Yes
                </button>
                <button type="button" class="btn bg-vs-dblue" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>


<div class="row mt-5 mb-3">
{% if harvestprocess.error_msg %}
<h3 class="mb-3 text-vs-red">Process had an error: {{ harvestprocess.error_msg }}</h3>
{% else %}
    {% if harvestprocess.entries_resolved %}
    <div class="col-2"><h5 class="fw-bold">ID</h5></div>
    <div class="col-5"><h5 class="fw-bold">Review Message</h5></div>
    <div class="col-2"><h5 class="fw-bold">Modified</h5></div>
    <div class="col-2 ms-5"><h5 class="fw-bold">Action</h5></div>
    {% else %}
    <h4>No resolved entries.</h4>
    {% endif %}
{% endif %}
</div>

{% for e in harvestprocess.entries_resolved %}
    <div class="harvest-entry row align-items-center p-3"
         data-entry-id="{{ e.entry_id }}">

        <div class="col-2">
            <button class="speech-entry-id clean-btn vs-link"
                    data-entry-id="{{ e.entry_id }}"
                    data-bs-toggle="modal" 
                    data-bs-target=".speech-entry-notes[data-entry-id='{{ e.entry_id }}']"        
                    >{{ e.speech_candidate_id }}</button>
        </div>

        <div class="col-5">
            <a class="vs-link" href="{{ e.admin_url }}" target="_blank">{{ e.review_message | default_if_none:"Nothing to review."}}</a>
        </div>

        <div class="col-2">{{ e.modified }}</div>

        <div class="col-1 ms-5">

            <button class="unresolve-entry btn bg-vs-dblue"
                    data-entry-id="{{ e.entry_id }}"
                    >Unresolve</button>
                    
            <div class="resolve-btns d-flex">

                <button class="confirm-unresolve-entry clean-btn text-vs-dblue me-3"
                        data-entry-id="{{ e.entry_id }}" 
                        data-url="{% url 'ps_harvester:unresolve_entry' pk=e.entry_id %}">
                    <i class="bi bi-check-circle"></i>
                </button>

                <button class="cancel-unresolve-entry clean-btn text-vs-red ms-3" 
                        data-entry-id="{{ e.entry_id }}">
                    <i class="bi bi-x-circle"></i>
                </button>
                
            </div>
        </div>

        <div class="col-1" style="align-items: end;">
            <button class="delete-entry btn bg-vs-red" 
                    data-bs-toggle="modal" 
                    data-bs-target=".delete-entry-confirmation[data-entry-id='{{ e.entry_id }}']"
                    >Delete
            </button>
        </div>
        
        {% include "ps_harvester/entry_modal.html" with entry_id=e.entry_id process_id=harvestprocess.pk %}
        
    </div>
    
{% endfor %}
{% endblock %}