:root {
    --vs-dblue: #333366;
    --vs-lblue: #ADC7D4;
    --vs-red: #EE3E37;
    --vs-white: #FFFFFF;
    --vs-bg-white: #f5f5fa;
    --vs-gradient: linear-gradient(-220deg, #333366, #EE3E37, #ADC7D4);
    --vs-bg-animation: subtle-gradient 10s ease infinite;
}

@keyframes subtle-gradient {
    0% {
        background-position: 0% 20%;
    }

    50% {
        background-position: 20% 0%;
    }

    100% {
        background-position: 0% 20%;
    }
}

.text-vs-lblue {
    color: var(--vs-lblue);
}

.text-vs-dblue {
    color: var(--vs-dblue);
}

.text-vs-red {
    color: var(--vs-red);
}

.text-vs-white {
    color: var(--vs-white);
}

.bg-vs-red {
    background-color: var(--vs-red);
    color: var(--vs-white);
}

.bg-vs-lblue {
    background-color: var(--vs-lblue);
    color: var(--vs-white);
}

.bg-vs-dblue {
    background-color: var(--vs-dblue);
    color: var(--vs-white);
}

.bg-vs-white {
    color: var(--vs-dblue);
    background-color: var(--vs-white);
}

.link-btn {
    background: none;
    border: none;
    padding: 0%;
    text-decoration: underline;
    color: var(--vs-dblue);
}

.icon-btn {
    font-size: 1.5rem;
}

.link-btn:hover,
.icon-btn:hover {
    color: var(--vs-lblue);
    cursor: pointer;
}

.accordion-item{
    margin-bottom: 1rem;
    border-radius: 0.5rem !important;
    border:0;
    box-shadow: 1rem 0.5rem 1rem rgba(0, 0, 0, 0.04);
    color: inherit;
}

.accordion-button.collapsed{
    border-radius: 0.5rem !important;
    border-color: inherit;
    color:inherit;
    border: 0;
}

.accordion-button:not(.collapsed){
    background-color: inherit;
    box-shadow: 0px 2px 2px -2px var(--vs-lblue);
    border:0;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
