.accordion-button:not(.collapsed),
.accordion-button:hover {
    background: linear-gradient(to right, #ADC7D4, #FFFFFF);
    background-size: 500% 500%;
    animation: subtle-gradient 1.5s infinite;
}

.underlined-btn:hover {
    color: #EE3E37;
}

.confirm-resolve, .cancel-resolve {
    font-size: 2.0rem;
    display: none;
}

.confirm-resolve:hover,
.cancel-resolve:hover {
    color: #ADC7D4;
    cursor: pointer;
}

.complete-status{
    color: #20c997;
    font-weight: bold;
}

.invalid-status{
    color: #adb5bd;
    font-weight: bold;
}

.review-status{
    color:#333366;
    font-weight: bold;
    font-style: italic;
}

.error-status{
    color:#EE3E37;
    text-decoration: underline;
    font-weight: bold;
}


.pvsdb-delete.form-check-input:checked{
    background-color:#EE3E37;
    border-color: black;
}

.pvsdb-delete.form-check-input:not(:checked){
    background-color:#FFFFFF;
    border-color: black;
}

.pvsdb-delete.form-check-input::before{
    background-color:#FFFFFF;
    border-color: black;
}


/* Bootstrap modification */
.page-link {
    color: #FFFFFF;
    background-color: #333366;
}


.page-link:hover {
    color: #FFFFFF;
    background-color: #ADC7D4;
}
/* ===================== */

.page-link-num{
    color:#333366;
    background-color: #FFFFFF;
}
