.unresolve-entry .icon-btn {
    display: none;
}

.unresolve-entry .confirm{
    color:#20c997;
}

.entry-container table{
    vertical-align: middle;
}

.entry-container table td,
.entry-container table th{
    background-color: inherit;
    color: inherit !important;
}