.complete-status {
    color: #20c997;
    font-weight: bold;
}

.invalid-status {
    color: #adb5bd;
    font-weight: bold;
}

.review-status {
    color: var(--vs-dblue);
    font-weight: bold;
    font-style: italic;
}

.error-status {
    color: var(--vs-red);
    text-decoration: underline;
    font-weight: bold;
}

.resolve-entry .icon-btn {
    display: none;
}
