{% extends "base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'ps_auth/css/auth_base.css' %}">
{% endblock %}

{% block extra_script %}
<script src="{% static 'ps_auth/js/auth_base.js' %}"></script>
{% endblock %}

{% block main_body %}
{% endblock %}

{% block new_body %}
<div class="d-flex justify-content-center" >
	<div class="auth-card card shadow">
		<div class="card-body">
			{% block auth_card_content %}
			{% endblock %}
		</div>
	</div>  
</div>
{% endblock %}