{% extends "ps_auth/auth_base.html" %}
{% load static %}


{% block auth_card_content %}
<div class="container justify-content-center mb-4">
    <div class="d-flex container align-items-center mb-3">
        <object data="{% static 'img/votesmart-logo-colored.svg' %}" type="image/svg+xml" width="100px" height="100px"></object>
        <h1>Forgot Password?</h1>
    </div>
    {% if request.method == "POST" and not form.errors and not form.non_field_errors %}
        <div class="container mt-2">
            <div class="mx-4 mb-4 text-start">
                <h3>Email Sent</h3>
                <h5>If the email is in our system and it is your email, you should receive it in your inbox. Be sure to also 
                    check your spam or junk folders.
                </h5>
            </div>
        </div>
    {% else %}
        <h5 class="text-wrap mx-4">Enter your email below and we'll email instructions for setting a new one.</h5>
    {% endif %}
</div>


{% if form %}
<div class="container text-center">
    <div class="auth-item">
        <div class="auth-error">
            {% for error in form.non_field_errors %}
            <p class="text-start text-vs-red">
                {{ error }}
            </p>
            {% endfor %}
        </div>
    </div>
    
    <form method="post" class="auth-form">
        {% csrf_token %}
        <div class="auth-item">
            <div class="form-floating">
                <input type="text"
                       class="form-control"
                       name="{{ form.email.name }}" 
                       id="email-reset-input" 
                       placeholder="{{ form.email.label}}">
                <label for="email-reset-input">{{ form.email.label}}</label>
                {% for error in form.email.errors %}
                    <p class="text-start text-vs-red">{{error}}</p>
                {% endfor %}
                <div class="invalid-feedback"></div>
            </div>
        </div>

        <div class="auth-item">
            <input type="submit" class="btn" value="RESET PASSWORD">
        </div>
    </form>
</div>
{% endif %}

<div class="container">
    <div class="card-footer text-end">
        <a href="{% url 'ps_auth:login' %}" class="link-btn fst-italic">
            Return to login
            <i class="bi bi-arrow-right-square-fill ms-2"></i>
        </a>
    </div>
</div>
{% endblock %}