{% extends "ps_auth/auth-base.html" %}
{% load static %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'ps_auth/css/login.css' %}">
{% endblock %}

{% block extra_script %}
{{ block.super }}
<script src="{% static 'ps_auth/js/login.js' %}"></script>
{% endblock %}


{% block auth_card_content %}
<div class="container text-center mb-4">
    <object data="{% static 'img/votesmart-logo-colored.svg' %}" type="image/svg+xml" width="150px" height="150px"></object>
    <h2>Public Statements</h2>
</div>

<div class="container text-center">
    <div class="auth-item">
        <div class="auth-error">
            {% for error in form.non_field_errors %}
            <p class="text-vs-red text-start">{{ error }}</p>
            {% endfor %}
        </div>
    </div>

    <form method="post" class="auth-form">
        {% csrf_token %}
        <div class="auth-item">
            <div class="form-floating">
                <input type="text" 
                       class="form-control"
                       name="{{ form.username.name }}" 
                       id="username-input"
                       placeholder="{{ form.username.label }}">
                <label for="username-input">{{ form.username.label }}</label>
                {% for error in form.username.errors %}
                    <p class="text-start text-vs-red">{{error}}</p>
                {% endfor %}
                <div class="invalid-feedback"></div>
            </div>
        </div>

        <div class="auth-item">
            <div class="form-floating">
                <input type="password"  
                       class="form-control" 
                       name="{{ form.password.name }}"
                       id="password-input"
                       placeholder="{{ form.password.label}}">
                <label for="pass-input">{{ form.password.label }}</label>
                {% for error in form.password.errors %}
                    <p class="text-start text-vs-red">{{error}}</p>
                {%endfor%}
                <div class="invalid-feedback"></div>
            </div>
            <div class="reveal-pass d-flex mt-1 ms-1 align-items-center">
                <input id="show-password" type="checkbox" value="Show password">
                <label for="show-password">show password</label>
            </div>
        </div>

        <div class="auth-item">
            <input type="submit" class="btn" value="LOGIN">
        </div>
    </form>
</div>

<div class="container">
    <div class="card-footer">
        <div class="d-flex justify-content-between">
            <a href="{% url 'ps_auth:forgotpassword' %}" class="link-btn text-start fst-italic">
                <i class="me-2 bi bi-arrow-left-square-fill" style="font-size:1.2rem"></i>
                Forgot password?
            </a>
            <a href="{% url 'ps_auth:register' %}" class="link-btn text-end fst-italic">Sign Up
                <i class="ms-2 bi bi-arrow-right-square-fill"></i>
            </a>
        </div>
    </div>
</div>

{% endblock %}