{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"
				onerror=`this.onerror=null; this.href="{% static 'css/bootstrap/bootstrap.min.css' %}"`>

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" 
				onerror=`this.onerror=null; this.href="{% static 'css/bootstrap/bootstrap-icons.min.css' %}"`>

		<link rel="stylesheet" href="{% static 'css/assets.css' %}">
		<link rel="stylesheet" href="{% static 'css/base.css' %}">
		
		<!-- Fallback -->
		<!-- <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}"> -->
		<!-- <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap-icons.min.css' %}"> -->
		{% block extra_head %}
		{% endblock %}
	</head>

	<body>
		{% block new_body %}
		{% endblock %}

		{% block main_body %}
		<div class="main-body">
			<!--Sidebar-->
			<div class="main-sidebar shadow">
				<div class="sidebar-wrapper">
					<div class="sidebar-header">
						<div class="d-flex align-items-center">
							<object data="{% static 'img/votesmart-logo-white.svg' %}" class="logo-home" type="image/svg+xml" width="50px" height="50px"></object>
							<a href="{% url 'index' %}" class="nav-link ms-2">
								<span class="fw-bold">Public Statements</span>
							</a>
						</div>
					</div>
					<div class="sidebar-body">
						<ul class="nav nav-pills">
							<li class="nav-item">
								<a class="nav-link dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#harvester-submenu">
									<i class="bi bi-cloud-upload-fill me-2"></i>
									<span>Harvester</span>
								</a>
							</li>
							<div id="harvester-submenu" class="collapse">
								<ul class="nav nav-pills">
									<li class="nav-item"><a class="nav-link" href="{% url 'ps_harvester:harvester' %}">Processes</a></li>
									<li class="nav-item"><a class="nav-link" href="{% url 'ps_harvester:file_harvest' %}">File Upload</a></li>
								</ul>
							</div>
							<li class="nav-item">
								<a class="nav-link dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#pipeline-submenu">
									<i class="bi bi-diagram-3 me-2"></i>
									<span>Pipeline</span>
								</a>
							</li>
							<div id="pipeline-submenu" class="collapse">
								<ul class="nav nav-pills">
									<li class="nav-item"><a class="nav-link">Status</a></li>
									<li class="nav-item"><a class="nav-link">Training</a></li>
								</ul>
							</div>
							<li class="nav-item">
								<a class="nav-link">
									<i class="bi bi-person-rolodex me-2"></i>
									<span>Users</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="sidebar-footer">
						<div class="user-menu ms-2">
							{% if user.is_authenticated %}
							<div class="dropdown">
								<a class="nav-link dropdown-toggle d-flex align-items-center" type="button" data-bs-toggle="dropdown">
									{% if request.user.psuserprofile.profile_pic %}
										<img>
									{% else %}
										<i class="bi bi-person-bounding-box"></i>
									{% endif %}
									
									{% if request.user.psuserprofile and request.user.psuserprofile|length <= 15 %}
										<strong class="ms-3">{{ request.user.psuserprofile }}</strong>
									{% else %}
										<strong class="ms-3">@{{ request.user.username|truncatechars:14 }}</strong>
									{% endif %}
								</a>
								<ul class="dropdown-menu shadow">
									<li><a class="dropdown-item" href="#" >My Profile</a></li>
									<li><hr class="dropdown-divider"></li>
									<li>
										<a class="dropdown-item d-flex align-items-center" href="{% url 'ps_auth:logout' %}" >
											<span class="me-2">Sign Out</span>
											<i class="bi bi-box-arrow-left"></i>
										</a>
									</li>
								</ul>
							</div>
							{% else %}
							<a class="nav-link d-flex align-items-center justify-content-end me-3" href="{% url 'ps_auth:login' %}">
								<strong class="fw-bold me-2">Sign In</strong>
								<i class="bi bi-box-arrow-in-right"></i>
							</a>
							{% endif %}
						</div>
					</div>
				</div>
			</div>

			<!-- Main content -->
			<div class="main-content">
				<div class="content-wrapper">
					{% block content_container %}
					{% endblock %}
				</div>
			</div>
		</div>
		{% endblock %}

		<!-- Base scripts -->
		<script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
		<script src="{% static 'js/jQuery/jquery-3.7.1.min.js' %}"></script>
		<script src="{% static 'js/shared.js' %}"></script>
		<!-- Scripts from children templates -->
		{% block extra_script %}
		{% endblock %}
	</body>
</html>