<!DOCTYPE html>
{% load static %}
<html>

<head>
	<meta charset="utf-8">
	
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-icons.min.css' %}">
	<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</head>

<body>
	<div class="row" style="height:100vh;">
		<div class="col-2" style="width:280px;">
			<div id="sidebar" class="p-4 fixed-top" >
				<a href="{% url 'index' %}" class="nav-link align-items-center">
					<h5>Public Statements</h5>
				</a>
				<hr>
				<ul class="nav flex-column">
					<li class="nav-item">
						<a ref="{% url 'ps_harvester:harvester' %}" type="button" class="nav-link align-items-center" 
						   data-bs-toggle="collapse" data-bs-target="#nav-sub-harvester">
							<span class="fw-bold">Harvester</span>
						</a>
						<div id="nav-sub-harvester" class="collapse">
							<ul class="nav flex-column">
								<li class="nav-item">
									<a href="{% url 'ps_harvester:harvester' %}" class="nav-link align-items-center">
										<span>Status</span>
									</a>
								</li>
								<li class="nav-item">
									<a href="{% url 'ps_harvester:file_harvester' %}"
										class="nav-link align-items-center">
										<span>File Harvester</span>
									</a>
								</li>
								<li class="nav-item">
									<a href="{% url 'ps_harvester:web_harvester' %}"
										class="nav-link align-items-center">
										<span>Web Harvester</span>
									</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="col">
			<div id="main-container" class="p-4">
				{% block body_block %}
				{% endblock %}
			</div>
		</div>
	</div>

</body>

</html>